In [1]:
import pandas as pd

# Path ke file CSV
file_path = 'Produksi Tanaman Buah-buahan, 2021-2023.csv'

# Membaca file CSV
data = pd.read_csv(file_path)

# Menampilkan data awal
data.head()

,38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,NaN,Produksi Tanaman Buah-buahan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Alpukat (Ton),NaN,NaN,Belimbing (Ton),NaN,NaN,Duku/Langsat/Kokosan (Ton),NaN,NaN,...,NaN,Apel (Ton),NaN,NaN,Anggur (Ton),NaN,NaN,Stroberi (Ton),NaN,NaN
2,NaN,2021,2022.0,2023.0,2021,2022.0,2023.0,2021,2022.0,2023.0,...,2023.0,2021,2022.0,2023,2021,2022.0,2023,2021,2022.0,2023
3,ACEH,44484,85794.0,80803.0,1202,1979.0,3254.0,6814,10087.0,9184.0,...,6387.0,79,81.0,164,-,0.0,-,60,20.0,50
4,SUMATERA UTARA,35378,50511.0,53179.0,6447,7235.0,4639.0,24308,17714.0,24990.0,...,29378.0,-,0.0,-,3,3.0,7,83,110.0,150

In [2]:
# Menghapus kolom kosong dan baris tidak relevan
cleaned_data = data.dropna(how='all', axis=1).dropna(how='all', axis=0)
cleaned_data = cleaned_data.iloc[2:].reset_index(drop=True)

# Beri nama kolom sementara
cleaned_data.columns = ['Provinsi'] + [f'Column_{i}' for i in range(1, len(cleaned_data.columns))]

# Hapus baris dengan tanda '-' atau NaN
processed_data = cleaned_data[cleaned_data['Provinsi'].notnull()]
processed_data = processed_data.replace('-', None).dropna()
processed_data.head()

,Provinsi,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,...,Column_63,Column_64,Column_65,Column_66,Column_67,Column_68,Column_69,Column_70,Column_71,Column_72
3,SUMATERA BARAT,84083,112723.0,102476.0,975,888.0,723.0,7676,8183.0,4935.0,...,9042.0,17,29.0,5,1,3.0,6,274,99.0,87
13,JAWA TENGAH,75707,130029.0,143795.0,18878,20987.0,21298.0,15125,15122.0,12438.0,...,66456.0,22,41.0,7,105,260.0,206,1165,1303.0,608
15,JAWA TIMUR,158581,183258.0,186433.0,75970,64856.0,59698.0,16407,20028.0,12461.0,...,107902.0,509367,523326.0,392173,775,376.0,201,838,1085.0,209
17,BALI,5123,3325.0,3764.0,477,400.0,593.0,2478,1803.0,732.0,...,19326.0,1,5.0,1,10234,11938.0,11904,291,196.0,348
18,NUSA TENGGARA BARAT,8889,5145.0,6090.0,724,566.0,559.0,1090,309.0,399.0,...,17037.0,18,0.0,14,852,384.0,546,43,245.0,74

In [3]:
from sklearn.model_selection import train_test_split

# Membagi data
train_data, temp_data = train_test_split(processed_data, test_size=0.4, random_state=42)
val_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)

# Menampilkan ukuran data
print("Data Training:", train_data.shape)
print("Data Validasi:", val_data.shape)
print("Data Testing:", test_data.shape)

Data Training: (4, 73)
Data Validasi: (1, 73)
Data Testing: (2, 73)

In [4]:
# Simpan ke file CSV
train_data.to_csv('train_data.csv', index=False)
val_data.to_csv('val_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

In [5]:
# Buat file notebook
import nbformat as nbf

nb = nbf.v4.new_notebook()

# Tambahkan data ke notebook
nb.cells.append(nbf.v4.new_code_cell("# Data Training\ntrain_data"))
nb.cells.append(nbf.v4.new_code_cell("# Data Validasi\nval_data"))
nb.cells.append(nbf.v4.new_code_cell("# Data Testing\ntest_data"))

# Simpan notebook
with open('Data_Split_Dataset.ipynb', 'w') as f:
    nbf.write(nb, f)